button {
    background-image: url(https://openclipart.org/image/800px/svg_to_png/213239/Search-icon.png);
    height: 22px;
    width: 24px;
    background-size: contain;
    background-color: red;
    background-repeat: no-repeat;
    position: relative;
    right: 10px;
    top: 5px;
    padding-left: 0;
    border: none;

    
}
header {
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    
}
    

ul li {
    float: left;
    list-style: none;

    
}

#logo {
    background-color: red;
    color: white;
    position: fixed;
    float: left;
    left: 0;
    top: 0;
    padding: 16px;
  

}

a {
    text-decoration: none;
    color: white;
    background-color: black;
    margin-left: 40px;
    margin-right: 40px;
    
}
div.cart {
    
    color: white;
    text-align: right;
    margin: auto;
    float: right;
  

}
div.container {
    margin-left: 0;
    margin-right: 0;
    width: 50%;
    display: flexbox;
}
input {
    width: 400px;
}
.cart {
    
    
}
    
img {
    height: 20px;
    position: fixed;
    display: flexbox
}
.footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0%;
    left: 0;
    right: 0;
    display: flex;
    height: 50px;
    

}
.info {
    list-style: none;

    
}
ul.info {
    margin: auto;
}
body {
    background-image: url(https://images.unsplash.com/photo-1446729444801-31245ddba81a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    
    
}
span {
    padding-left: 40px;
    
}

h1 {
    background-color: red;
    opacity: 70%;
    text-align: center;
    font-weight: bolder;
    font-size: 70px;
    border-style: dotted;
    border-width: 10px;
    color: white;
    border-color: black;
    position: relative;
    top: 30px;
    
    
}
.heading1 {
    background-color: red;
    opacity: 70%;
    position: relative;
    left: 175px; 
    margin-right: 75%;
    font-size: 40px;
    color: white;
    font-weight: bolder;
    text-align: center;
    display: flexbox;

}
.heading2 {
    background-color: red;
    opacity: 70%;
    font-size: 30px;
    color: white;
    text-align: center;
    width: 533.328px;
    height: 400px;
    box-sizing: border-box;
    float: right;
    margin-right: 100px;
    position:relative;
    display: flexbox;

}


    




