body {
    display: grid;
    grid-template-rows: fr;
    margin: 0;
    height: 100%;
   
}
header {
    /*grid-area: head;*/
    background-color: black;
    height: 100%;
    

}
nav {
    float: left;
    padding-top: 10px;

    
}
main    {
   /* grid-area: main;*/
    background-image: url(https://images.pexels.com/photos/950241/pexels-photo-950241.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-position: center;
    background-size: cover;
   
    
}

footer  {
    /*grid-area: foot;*/
    background-color: black;
    height: 75px;
    position: bottom;
    color: white;
    text-align: center;
    padding-top: 20px;

    
}
.gridhome {
    margin-top: 28px;
    float: left;
    display: inline-flex;
    margin-left: 120px;
    grid-gap: 10px;
    margin-bottom: 10px;

}
.brighten1 {
    display: inline-flex;
    grid-gap: 15px;
    margin-left: 40px;
}
.brighten2 {
    display: inline-flex;
    grid-gap: 15px;
    margin-left: 160px;
}
#form {
    position: relative;
    float: right;
    padding-bottom: 10px;
}

button {
    background-color: grey;
    color: white;
    font-size: 17px;
    border:none;
     
    
     
}
#header {
    background-color: grey;
    color: white;
    width: max-content;
    display: flex;
    height: 100%;
    float: left;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}




a {
    text-decoration: none;
    color: white;
    background-color: black;
    margin-bottom: 10px;
    margin-right: 40px;
    margin-left: 10px;
    font-variant: small-caps;
    
    
  
}
a:hover {
    color: fuchsia;
}
#cart   {
    float: right;
    color: white;
    background-color: black;
    padding-top: 10px;
    
   
}
#sign   {
    float:right;
    padding-top: 10px;
}
img {
    float: right;

}
 

h1  {
    font-family: 'Charm', cursive;
    font-family: 'Markazi Text', serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto Mono', monospace;
    font-family: 'Space Mono', monospace;
    text-align: center;
    font-size: 40pt;
    ;
   

  
   
}
h2  {
    text-align: center;
    font-weight: bolder;
}
p {
    text-align: center;
    font-size: 15pt;
    font-family: 'Charm', cursive;
font-family: 'Markazi Text', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Mono', monospace;
font-family: 'Space Mono', monospace;

    
}
.griditem1 {
    
}

.brighten2 img {
    -webkit-filter: brightness(40%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    }
    
.brighten2 img:hover {
    -webkit-filter: brightness(100%);
    }

.brighten1 img {
        -webkit-filter: brightness(40%);
        -webkit-transition: all 1s ease;
        -moz-transition: all 1s ease;
        -o-transition: all 1s ease;
        -ms-transition: all 1s ease;
        transition: all 1s ease;
        }
        
.brighten1 img:hover {
        -webkit-filter: brightness(100%);
        }
